body {
    font-family: 'Lato', sans-serif;
font-size: 16px;
    font-weight: 300;
    margin: 0;
}
/*header stuff here*/

header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #BF6341;
}

header p {
    margin: 0;
    color: #BF6341;
    letter-spacing: .5px;
}

/* nav stuff goes here*/


nav
{
    background-color: #D9AA71;
}
nav ul 
{list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration:none;
    color: #6D733F;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
    
    }
nav li.active a {
    background-color: #BF6341;
        color: #D9C5B4;}

nav li.active a {
    background-color: #BF6341;
    color: #D9C5B4;}

nav a hover {
    color: #fff;
}

/* stuff for the main */


main {
    padding: 1rem 2vw;
}

main h1 
{color:#BF6341;

}

main h2 
{color:#BF6341;
margin-bottom: .2rem;}

main p 
{color:#2f3133;
margin: 0 0 .3rem 0;
}


main dl dt {
    color: #6D733F;
    font-weight: 700;
    
}

main dl dd {
    color:#BF6341;
    font-size: .9rem;
    
}

main ul {
    list-style-type: square;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
     font-size: .9rem;
    
}

main address {
    font-style: normal;
    background-color: #D9C5B4;
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #BF6341;
    border-radius: 1rem ;
}

main a {
    color: #6D733F;
}
main a:hover {
    color: #BF6341;
}


figure.wrapped { 
width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

div.gallery figure {
    margin: .5remn 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #BF6341;
}

.myForm fieldset {
    border: 1px solid #6D733F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #BF6341;
    font-size: .8rem}

.myForm Label {
    Margin: .5rem
}

.myForm Label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea, .myForm [type=email] {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width;250px;
    border-radius: .3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.myForm textarea {
    height: 6rem;
}


.myForm :required {
    background-color: rgba(156,51,53,0.1)
}

.myForm [type=submit] {
    background-color: #BF6341;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}



/*footer*/


footer {
    background-color: #eaeaea;
        text-align: center;
    color:  #6D733F; 
padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color:  #6D733F;
}
